UI Design/Web References/localhost1/UpdateBalance.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="UpdateBalance1">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateBalance1Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateBalance1Result" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="UpdateBalance1SoapIn">
    <wsdl:part name="parameters" element="tns:UpdateBalance1" />
  </wsdl:message>
  <wsdl:message name="UpdateBalance1SoapOut">
    <wsdl:part name="parameters" element="tns:UpdateBalance1Response" />
  </wsdl:message>
  <wsdl:portType name="UpdateBalanceSoap">
    <wsdl:operation name="UpdateBalance1">
      <wsdl:input message="tns:UpdateBalance1SoapIn" />
      <wsdl:output message="tns:UpdateBalance1SoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UpdateBalanceSoap" type="tns:UpdateBalanceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UpdateBalance1">
      <soap:operation soapAction="http://tempuri.org/UpdateBalance1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UpdateBalanceSoap12" type="tns:UpdateBalanceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UpdateBalance1">
      <soap12:operation soapAction="http://tempuri.org/UpdateBalance1" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UpdateBalance">
    <wsdl:port name="UpdateBalanceSoap" binding="tns:UpdateBalanceSoap">
      <soap:address location="http://localhost:56280/UpdateBalance.asmx" />
    </wsdl:port>
    <wsdl:port name="UpdateBalanceSoap12" binding="tns:UpdateBalanceSoap12">
      <soap12:address location="http://localhost:56280/UpdateBalance.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>